@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(root.css);

.bg-img {
    background-image: url(../image/png/header-bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bg-blur {
    background: var(--color-black);
}

/***** width *****/
.max-w-1320 {
    max-width: 1320px !important;
}

.max-w-660 {
    max-width: 579px;
}

/***** margin & padding *****/
.py-23 {
    padding-top: 23px;
    padding-bottom: 23px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-59 {
    margin-top: 59px !important;
}

.mt-227 {
    margin-top: 227px !important;
}

.mt-243 {
    margin-top: 243px !important;
}

/***** gap *****/
.gap-32 {
    gap: 32px;
}

.opacity-70 {
    opacity: 70%;
}

/***** nav-bar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate40 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-45 {
    transform: rotate(-43deg);
}

.btn-1 {
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher-crest) 100%);
}

.btn-2 {
    padding: 12px 32px 12px 32px;
    border-radius: 33px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher-crest) 100%);
}

.box {
    position: relative;
    padding: 24px;
    border-radius: 10px;
    backdrop-filter: blur(32px);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    padding: 1px;
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;

}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(100px);
    }

    .show-navbar {
        right: 0 !important;
    }

    .mt-227 {
        margin-top: 100px !important;
    }
}

@media (max-width:767.98px) {
    .mt-227 {
        margin-top: 70px !important;
    }
}

@media (min-width:992px) {
    .nav-bg-blur {
        background: var(--color-black) !important;
        backdrop-filter: blur(16px) !important;
    }
}