@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(root.css);

.bg-img {
    background-image: url(../image/png/header-bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bg-blur {
    background: var(--color-black);
}

.navbar-link {
    transition: all 300ms linear;
}

.navbar-link:hover {
    background: linear-gradient(103.52deg, var(--color-chrome-yellow) 18.99%, var(--color-royal-flycatcher-crest) 82.34%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/***** width *****/
.max-w-1320 {
    max-width: 1320px !important;
}

.max-w-660 {
    max-width: 660px;
}

.max-w-547 {
    max-width: 280px !important;
}

/***** margin & padding *****/
.mt-12 {
    margin-top: 12px;
}

.mt-13 {
    margin-top: 13px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-59 {
    margin-top: 59px !important;
}

.mt-62 {
    margin-top: 62px;
}

.mt-73 {
    margin-top: 73px !important;
}

.mb-87 {
    margin-bottom: 87px;
}

.mt-89 {
    margin-top: 89px;
}

.p-15 {
    padding: 15px;
}

.pt-17 {
    padding: 17px !important;
}

.pt-19 {
    padding-top: 19px;
}

.py-23 {
    padding-top: 23px;
    padding-bottom: 23px;
}

.pl-23 {
    padding-left: 23px;
}

.pl-25 {
    padding-left: 25px;
}


.pr-25 {
    padding-right: 25px;
}

.padding-60 {
    padding: 60px;
}

.white-nowrap {
    white-space: nowrap;
}

/***** gap *****/
.gap-32 {
    gap: 32px;
}

.opacity-70 {
    opacity: 70%;
}

/***** nav-bar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.btn-1 {
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher-crest) 100%);
}

.btn-1:hover,
.btn-2:hover {
    color: var(--color-royal-flycatcher-crest) !important;
    background: var(--color-white) !important;
}

.btn-2 {
    padding: 12px 32px 12px 32px;
    border-radius: 33px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher-crest) 100%);
}

.box {
    padding: 24px;
    border-radius: 10px;
    backdrop-filter: blur(16px) !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    padding: 1px;
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

/***** section-1 *****/
.bg-blur {
    top: 25% !important;
    right: -0%;
}

.img-1 {
    bottom: 0;
    left: 0;
}

.img-2 {
    top: 2%;
    right: 0;
}

/***** section-2 *****/
.number-2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    width: 71px;
    height: 71px;
    border-radius: 50px;
    padding: 19px 32px 19px 32px;
    margin-left: 13px;
    background-color: var(--color-white);
}

.btn-3:hover .number-2 {
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher-crest) 100%);
    color: var(--color-white);
}

.btn-3 {
    max-width: 660px !important;
    cursor: pointer;
    border-radius: 46px !important;
    background: var(--bg-kettle-black) !important;
}

.btn-3:hover {
    background-color: var(--bg-raven) !important;
}

.overflow-img {
    position: absolute;
    right: 0;
    width: 50%;
    max-height: 636px !important;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transform: translateY(0%);
}

/****** tokenomics ******/
.parent {
    width: 92px;
    height: 67px;
}

.card-1,
.card-2 {
    height: 154px;
    padding: 16px 20px;
    border-radius: 10px;
    backdrop-filter: blur(32px);
}

.card-1:hover,
.card-2:hover {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.card-1::before,
.card-2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.image-parent {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-parent::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.box-2 {
    width: 50px;
    height: 50px;
    background: var(--bg-aqua-green);
    margin-bottom: 15px;
    border-radius: 4px;
}

.card-3 {
    max-width: 315px;
}

.tablebox::before {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.overflowAuto {
    overflow: auto !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-1 {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.table-row {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

/****** roadmap ******/
.roadmap::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--color-white);
    top: 20px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 75%;
}

.content-box {
    padding: 10px 40px;
    background-color: inherit;
    width: 50%;
}

.content-box::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -18px;
    background: linear-gradient(180deg, var(--bg-chrome-yellow) 0%, var(--bg-royal-flycatcher-crest) 100%);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.roadmap-left-img {
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.roadmap-right-img {
    top: -20% !important;
    right: 0;
    object-fit: cover;
}

/****** accordion ******/
.faq .accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-border-width: none !important;
    width: 100%;
    margin-top: 46px !important;
}

.faq .accordion-button {
    margin: 24px 0px 0px 0px !important;
    padding: 16px 22px 16px 16px !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
    border-radius: 10px !important;
}

.faq .accordion-body:not(.collapsed) {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.faq .accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0px !important;
}

.faq .accordion-body {
    padding: 0px 16px 16px 16px !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.09) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
}

.faq .accordion-item {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%) !important;
    backdrop-filter: blur(32px) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.faq .accordion-button:not(.collapsed) {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.faq .accordion-button:not(.collapsed)::after {
    background-image: url(../image/svg/arrow-img.svg);
    width: 11px;
    height: 7px;
    background-position: center;
    background-size: contain;
    transform: rotate(180deg) !important;
}

.faq .accordion-button::after {
    background-image: url(../image/svg/arrow-img.svg);
    width: 11px;
    height: 7px;
    background-position: center;
    background-size: contain;
}

.box-3::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.accordion-right-img {
    bottom: -100% !important;
    right: 0 !important;
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(100px);
    }

    .show-navbar {
        right: 0 !important;
    }

    .card-1 {
        margin-top: 24px;
    }

    .roadmap-right-img {
        display: none;
    }

    .overflow-img {
        position: unset;
        width: 100%;
    }
}

@media (max-width:768.98px) {
    .card-1 {
        margin-top: 0px;
    }

    .para br {
        display: none;
    }

    .bg-blur {
        top: 50% !important;
    }
}

@media (max-width: 575.98px) {
    .bg-blur {
        top: 60% !important;
    }

    .text-left {
        text-align: left;
    }

    .roadmap::after {
        left: 45px;
    }

    .content-box {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .content-box::before {
        left: 60px;
        border: 1px solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 27px;
    }

    .right {
        left: 0%;
    }

    .accordion-right-img {
        display: none;
    }
}

@media (min-width:992px) {
    .nav-bg-blur {
        background: var(--color-black) !important;
        backdrop-filter: blur(16px) !important;
    }

    .box {
        transform: translateY(-125px);
    }
}